body {
background-color: black;
}
.navbar {
background-color: #fe76b8;
text-shadow:#00ff04 3px 0 10px;
}
h1 {
  text-align:center;
  color: #d1d1d1;
  text-shadow:#00ff04 3px 0 10px;
  font-size:800%;
}
#works {
  width:460px;
  height:300px;
  text-align: center;
}

#works2 {
    width:460px;
  height:320px;
    text-align: center;
}